.app {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
}

.menu {
  width: 15vw;
  height: 100vh;
  background-color: #151515;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  height: 10vh;
  margin-top: 20px;
}

.title-item {
  font-size: 1.5vw;
  color: white;
}

.categories {
  height: 70vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5vh;
}

.submit {
  height: 20vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.workspace {
  width: 100%;
  height: 100vh;
  background-color: #333333;
}

.workspace p {
  color: rgb(233, 233, 233);
}

.modalTitle {
  text-align: right;
  font-family: nexa_heavy;
  font-size: 1.5vw;
  color: white;
}

input {
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding: 5px 5px 5px 5px;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333ab;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.progress-bar-container {
  width: 25%;
  height: 20px;
  background-color: #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 0;
  background-color: #4caf50;
  border-radius: 4px;
  transition: width 0.3s ease;
}

@font-face {
  font-family: nexa_heavy;
  src: url(./Font/nexa/Nexa-Heavy.ttf);
}

@font-face {
  font-family: nexa_light;
  src: url(./Font/nexa/Nexa-Heavy.ttf);
}
