.app {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  user-select: none;
  -webkit-user-select: none;
}

.menu {
  width: 15vw;
  height: 100vh;
  background-color: #151515;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  height: 10vh;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.title-item {
  font-size: 1.5vw;
  color: white;
}

.categories {
  height: 70vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5vh;
}

.submit {
  height: 20vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.dashboard {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  justify-content: left;
  flex-wrap: wrap;
  margin-left: 10px;
}

.workspace {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #333333;
}

.workspace p {
  color: rgb(233, 233, 233);
}

.options {
  display: flex;
  width: 30vw;
  background-color: #333333;
  gap: 25px;
  flex-direction: column;
}

.elements {
  width: 100%;
  height: 30vh;
}

.elements-line {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.elements-line-button {
  width: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.elements svg {
  width: 30px;
  height: 30px;
  margin-bottom: -5px;
  margin-top: 5px;
}

.params {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: auto;
  height: 65vh;
}

.params::-webkit-scrollbar {
  width: 0px;
}

.modalTitle {
  text-align: right;
  font-family: nexa_heavy;
  font-size: 1.5vw;
  color: white;
}

input {
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding: 5px 5px 5px 5px;
}

select {
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding: 5px 5px 5px 5px;
}
.goal-button {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20%;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333ab;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loading-overlay-spinner {
  margin-right: 10vw;
  width: 50px;
  height: 50px;
}

@font-face {
  font-family: nexa_heavy;
  src: url(./Font/nexa/Nexa-Heavy.ttf);
}

@font-face {
  font-family: nexa_light;
  src: url(./Font/nexa/Nexa-Heavy.ttf);
}
