.wrapper {
  color: white;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
  border-radius: 5px;
}

.wrapper:hover {
  background-color: #303030;
}

.wrapper:hover .preview img {
  transition: 0.3s ease;
  opacity: 0.5;
}

.preview {
  display: flex;
  justify-content: center;
  height: 297px;
  width: 210px;
  padding: 10px;
  user-select: none;
  -webkit-user-select: none;
  position: relative;
  transition: opacity 0.3s ease;
  user-select: none;
}

.preview img {
  width: 100%;
  height: 100%;
  user-select: none;
  opacity: 1;
  background-color: black;
  border-radius: 5px;
}

.loadButton,
.deleteButton {
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-style: solid;
  border-color: white;
  border-width: 1px;
}

.asset {
  display: flex;
  width: 10%;
  height: 10%;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 10px;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.25);
  fill: rgb(255, 255, 255);
}

.asset:hover {
  background-color: rgba(0, 0, 0, 0.35);
}

.loadButton {
  top: 45%;
  left: 50%;
  background-color: #3498db;
  width: 50%;
}

.deleteButton {
  top: 60%;
  left: 50%;
  width: 50%;
  background-color: red;
}

.loadButton:hover {
  background-color: #2e8dcc;
}

.deleteButton:hover {
  background-color: #d63031;
}

.loadButton:active {
  background-color: #2980b9;
}

.deleteButton:active {
  background-color: #c0392b;
}

.wrapper:hover .loadButton,
.wrapper:hover .deleteButton {
  opacity: 1;
}

.popup {
  position: absolute;
  bottom: 30px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(-10px);
  z-index: 1000;
}

.popup span {
  color: #000;
  user-select: all;
}

.hoverWay {
  position: absolute;
  width: 100%;
  height: 50%;
  top: -45%;
}
