.text-option {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
  padding-top: 10px;
  border-style: solid;
  border-width: 3px 3px 0px 3px;
  border-color: rgb(83, 83, 83);
  border-radius: 12px 12px 0px 0px;
}

.text-option-item {
  color: white;
}

.text-option-item input {
  background-color: rgb(41, 41, 41);
  border-style: solid;
  border-color: rgb(83, 83, 83);
  color: white;
}

.text-editor {
  border-style: solid;
  border-color: rgb(83, 83, 83);
  border-width: 0px 3px 3px 3px;
  border-radius: 0px 0px 12px 12px;
  display: flex;
}

.nameColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 32vh;
  padding: 10px;
  background-color: rgb(41, 41, 41);
  margin: 0px 10px 0px 10px;
  border-radius: 12px;
  border-style: solid;
  border-color: rgb(83, 83, 83);
}

.nameColumnContent {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: left;
  color: white;
  padding-top: 5px;
  padding-bottom: 10px;
  gap: 5px;
  cursor: pointer;
}

.nameColumnContent::-webkit-scrollbar {
  display: none;
}
