.barcode-option-hidden,
.barcode-option-visible {
  height: 100%;
  width: 100%;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  font-family: nexa_heavy, sans-serif;
}

.barcode-option-visible {
  display: flex;
}

.barcode-option-hidden {
  display: none;
}

.barcode-option-item {
  display: flex;
  flex-direction: column;
  padding: 0px 10px 10px 10px;
}

.barcode-option-item-dual {
  display: flex;
  gap: 5px;
}

input {
  width: 95%;
}

.valeur {
  height: 100%;
  width: 100%;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  font-family: nexa_heavy, sans-serif;
}

.barcode-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px 0px;
  min-height: 100px;
  width: 100%;
  background-color: #272727;
}

.barcode-preview-img {
  max-width: 18vw;
}

.nobarcode {
  fill: #151515;
  width: 60px;
  height: 60px;
}
