.buttonCustom {
  background-color: #d9d9d9;
  border: none;
  color: black;
  padding: 15px 0px 15px 0px;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  width: 100%;
  font-family: nexa_heavy, sans-serif;
}

.buttonCustom:hover {
  background-color: #bfbfbf;
}

.buttonCustom:active {
  background-color: #a6a6a6;
}
